<p id="notice"><%= notice %></p>

<p>
  <strong>Coach:</strong>
  <%= @source_data_pfr.coach %>
</p>

<p>
  <strong>Year:</strong>
  <%= @source_data_pfr.year %>
</p>

<p>
  <strong>Age:</strong>
  <%= @source_data_pfr.age %>
</p>

<p>
  <strong>Level:</strong>
  <%= @source_data_pfr.level %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @source_data_pfr.employer %>
</p>

<p>
  <strong>Role:</strong>
  <%= @source_data_pfr.role %>
</p>

<%= link_to 'Edit', edit_source_data_pfr_path(@source_data_pfr) %> |
<%= link_to 'Back', source_data_pfrs_path %>
